@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
 
}
.links:hover{
border-left: 10x solid wheat;
}
.container.active{
  background:url("earth2.jpg") ;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease-in ;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #ffffff;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
  transform: rotate3d();
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
  min-height: 100vh;
  width: 100%;
 
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.title {
  font-size: 2.7rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding:10px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
  border-left: 1px solid white;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}
.container {
  min-height: 100vh;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in;
  background-image: url(earth3.jpg);
  background-position: center;
  background-size:cover;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 3rem;
}

.menu {
  z-index: 100;
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
  z-index: 100;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu.before {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
}

.bar.before {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}




.main.before {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header.before {
  min-height: 100vh;
  width: 100%;
  background: url("bg.jpg") no-repeat top center / cover;
  position: relative;
}
/*About Section*/

.About{
        
  width: 100%;
  height: 400px;
  background-color:#091921;
  backdrop-filter: blur(40px);

}
.content{
  border-radius:10px;border: 10px 10px 10px rgba(45,55,68);
  overflow: hidden;
  width:700px;
  height:300px;
padding: 15px;
 word-spacing: normal;
 line-height: 30px;
 font-weight: 500;
 font-size: 15px;
 color: aliceblue;
  backdrop-filter: blur(15px);
  background-clip:padding-box ;
  margin-right: 100px;
  margin-top: - 10px;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.116);
  display: block;
  
 animation : fille 1s ease-in
}
@keyframes fille{
  0%{
    background-position: center;
    backface-visibility: hidden;
  }
  100%{
    backface-visibility: visible;
  }
}
.button{
  background-color:#091921;
  padding: 10px;
  font-weight:300;
  font-size: 10;;
  background-clip:padding-box ;
  border: 2px solid transparent;
  display: inline-block;
  backdrop-filter: blur(15px);
  border-radius:10px;border: 10px 10px 10px rgba(45,55,68);
  color: aliceblue;
 
}
.button:hover{
border: 2px solid white;
color: white;

background-color: rgba(255, 255, 255, 0.116);


border-radius:10px;

}
.about-content{
 padding: 10px;justify-content:space-between;display: flex;
 
}
.less{
  display: block;
  display: none;
}
.less.bree{
  display: block;
}
@keyframes block {
  0%{
    display: none;
    font-size: 0;
   

  }
  100%{
    display: block;
    font-size:100%;
    
  }
}
@keyframes none{
  0%{
    display: block;
    font-size:100%;
  }
  100%{
    display: none;
    font-size: 0;
  }
}
 /*Skill Section*/
      .Skills{
        padding:10px;
        width: 100%;
        height: 520px;
        transition :all 2s ease-in ;
        background: url("earth5.jpg");
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: black;
        animation: back 2s  ease-in ;
        
        box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
      }
      .Skills.bearer{
        animation: back 2s  ease-in ;

      }
@keyframes back{
0%{ 
  left:0;
   background-position: left;
  background-size: 90%;
  rotate: 20deg;
  background-repeat: no-repeat;
}
10%{
  background-size: 91%;
}
20%{
  background-size:92%;
}
30%{
  background-size:93%;
}
40%{
  background-size:94%;
}
50%{
  background-size:95%;
}
60%{
  background-size: 96%;
}
70%{
  background-size: 97%;
}
80%{
 
  background-size: 98%;
}
90%{
  background-size: 99%;
}

100%{
  background-position:right;
  background-size: 100%;
  background-repeat: no-repeat;

}


      }


      .elements{
  display: flex;
  justify-content:space-between;
  
}

/* testimonial */
.Project{
        
  width: 100%;
  height: 20px;

  backdrop-filter: blur(15px);
}
.container-2{
  display: flex;
  height: 300px;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}
.container-3{
  display: flex;
  height: 300px;
  padding: 10px;
  display: none;
  justify-content: space-between;
  width: 100%;
}
.E-commerce{
  background-color: aliceblue;
  height: 300px; 
  padding: 10px;
  width: 300px;
  margin-left: 90px;
  border-radius: 10px;
margin-top: 25px;
background-color: aliceblue;
  text-align: center;
  font-weight: bold;
color: var(--black-color-);

}
.GLASS{
 
  height: 300px; 
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.116);
  backdrop-filter: blur(40px);
  text-align: center;
  font-weight: bold;
color: aliceblue;


animation: hue 2s infinite alternate;

}
.GLASS:hover{
  background: crimson;
  transition: all 0.1s ease ;
}
.GLASS .sneaker-name{
margin-top: 150px;
align-items: center;
}
@keyframes hue{
  from{
  filter: hue-rotate(0);
}
to{
  filter: hue-rotate(360deg);
}
}
.DESIGN
{
  background-color: aliceblue;
  margin-right: 90px;
  animation: hue 2s infinite alternate;

  width: 300px;
  padding: 10px;
  height: 300px;
  border-radius: 10px;
  margin-top: 25px;
  width: 300px;
  padding: 10px;
  height: 300px;
  background-color: aliceblue;
  text-align: center;
  font-weight: bold;
color: var(--black-color-);
}

.JavaScript{
background-color: aliceblue;
width: 300px;
  padding: 10px;
  height: 300px;
  margin-left: 250px;;
  margin-top: 50px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
color: var(--black-color-);
}
a{
text-decoration: none;
}  
.Cert{
margin-right: 300px;
margin-top: 50px;
width: 300px;
  padding: 10px;
  height: 300px;
border-radius: 10px;
  background-color: aliceblue;
  text-align: center;
  font-weight: bold;
color: var(--black-color-);
}
/* contact */

.Nam{
  border: 4px solid #28313b;
  background-color: #28313b;
  width: 300px;
  align-content: center;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
 padding :10px;
 color: var(--black-color-);
 margin-left: 50px;
 margin-top: 10px;
 
 margin-left: 50px;
 margin-top: 20px;
 border-radius: 10px;
 background-color: aliceblue;
}
.mail
{
  border: 4px solid #28313b;
  background-color: #28313b;
  width: 300px;
  align-content: center;

 padding :10px;
 margin-top: 20px;
 margin-left: 50px;
 color: var(--black-color-);
 
 margin-left: 50px;
 margin-top: 20px;
 border-radius: 10px;
 background-color: aliceblue;
}
input{
  border: 4px solid #28313b;
}
h3{
  margin-bottom: -10px;
}
.Adress{
  border: 4px solid #28313b;
  
  background-color: #28313b;
  width: 300px;
  align-content: center;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
 padding :10px;
 height: 50px;


 margin-left: 50px;
 margin-top: 20px;
 border-radius: 10px;
 background-color: aliceblue;
}
select{
  color: var(--black-color-);
  width: 290px;
  height: 40px;
  margin-left: 55px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: aliceblue;
}
.Contact{
       
  width: 100%;
  height: 520px;
  background:url("abstract.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
  
}
.butt{
  background-color: aliceblue;
  color: var(--black-color-);
  padding: 10px;
  margin-top: 20px ;
  width: 100px;
  font-weight: bold;
  margin-left: 140px;
  height: 50px;
  
  border-radius: 10px;

}
.WB{
  height: 50px;
  width: 50px;
  background-color: aliceblue;
}
.butt:hover{
  background-color: #28313b;
  border: 1px solid white;
  color: aliceblue;
}
.cor{
display: flex;
justify-content: center;

}
.Marvel{
border-radius: 10px;
width: 400px;
height: 400px;
margin-left: 200px;
margin-top: 40px;
margin-right: -400px;
display: block;
align-items: center;
justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .Marvel{
   margin:10px 10px 10px 10px;
float: left;
width: 350px;
height: 400px;

  }
  .Nam,.mail,.Adress,.button{
    margin-left: 20px;
  }
  select{
    margin-left: 25px;
    width: 290px;
  }
  body{
    width: 600px;
  }
}
/*Home section*/
.Home{
  width: 850px;
  height: 500px;
       position: absolute;
       margin: 0 auto;
        
        align-items: center;
         max-width: 60%;
      max-height:70%;
      margin-right: 100px ;
     margin-bottom: 100px;;
      margin-left:120px ;
      margin-top:120px ;
      padding: 0 1.5rem;
      backdrop-filter:blur(10px);
        }
        .text-1{
  color: rgb(168, 123, 38);
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  margin-top: 100px;
  animation: ber 2s ease;
        }
  @keyframes ber{
    0%{
            font-size: 0;
          }
          100%{
            font-size: 25px;
          }
  }
        .text-2{
          color:rgb(94, 148, 14);
          font-size: 50px;
          font-weight: bold;
          padding: 5px;
          transition: all 1s ease-in-out;
          animation: bear 1s ease;
        }
        @keyframes  bear {
          0%{
            font-size: 0;
          }
          100%{
            font-size: 50px;
          }
        }
        .text-3{
          color: rgb(81, 80, 170);
          font-weight: bold;
          padding: 10px;
          margin-bottom: 10px;
          font-size: 25px;
          animation: ber 2s ease;
  
        }
        .text-3 .span{
        color:rgb(1, 80, 170);
        
        font-size: 30px;
        }
        .btn-1{
          border: 2px solid cadetbluee;
          border-radius: 10px;
          color:aliceblue;
          background-color: aliceblue;
          background-color:rgb(81, 80, 170);
          font-weight: bold ;
          width: 300px;
          height: 100px;
          padding: 10px;
          font-size: 18px;
          margin-left: 10px;
          margin-top: 100px;
  animation: but 1s ease-in-out
        }
        @keyframes but{
          0%{
            border: none ;
          border-radius: 0%;
          color: ;
          background-color: ;
          background-color:;
          font-weight:\ ;
          width: 0px;
          height: 0px;
          padding: 0px;
          font-size: 0px;
          
          display: none;
          }
          100%{
            border: 2px solid cadetbluee;
          border-radius: 10px;
          color:aliceblue;
          background-color: aliceblue;
          background-color:rgb(81, 80, 170);
          font-weight: bold ;
          width: 300px;
          height: 100px;
          padding: 10px;
          font-size: 18px;
          margin-left: 10px;
          margin-top: 100px;
          }
        }
        .btn-1:hover{
          border: 2px solid  rgb(81, 80, 170);
          background-image: none;
          color: aliceblue;
        }
        a{
          text-decoration: none;
        }
        .container{
          background: url("earth.jpg");
          background-color: rgba(0,0,0,0);
          background-position: center;
          background-size: cover;
        }
        .navbar{
          
        }
        li:hover{
          transform: scale(1.01);
        }
  li{
  animation: hulu 2s ease-in;
  }
  @keyframes hulu {
    0%{
      transform: scale(1);
  
    }
    50%{
      transform: scale(1.01);
    }
    100%{
      transform: scale(1);
    }
  }
  h1{
    color: white;
    margin-left: 100px;
    border-left: 3px solid white;
    animation: bere 1s ease-in;
    padding: 0px;
    padding-left: 10px;
  }
  @keyframes bere{
  0%{
    transform: translateY(-9px);
  }
  100%{
    transform: translateY(0);
  
  }
  }
  .skilled{
    
    width: 600px;
    height: 350px;
   
    margin: 70px auto;
    margin-left: 100px;
    display: inline-block;
    justify-content: center;
    border-radius: 10px;
  ;padding: 10px;
  align-items: center;
  color: white;
  z-index: 10;
  border: 10px 10px 10px rgba(45,55,68);
  overflow: hidden;
  backdrop-filter: blur(15px);
  background-clip:padding-box ;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.116);
   
  }
  .bar-1{
    background-color: white;
    display: block;
    height: 10px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    width: 450px; 
    animation: bear 2s ease-in;
  
  }
  .bar-1 span{
  height: 11px;
  float: left;
  color: white;
  background-color: crimson;
  }
  .html{
    width: 90%;
    color: crimson;
    animation:load-1 1s ease ;
  
  }
  .Python{
    width: 60%;
    animation:load-2 1s ease ;
  
  
  }
  .JS{
    width: 70%;
    animation: load-3 -3px 1s ease ;
  
  }
  .CSS{
    width: 80%;
    animation:load 1s ease ;
  
  }
  .UI{
    width: 80%;
    animation:load 1s ease ;
  }
  @keyframes load {
    0%{
      width: 0%;
    }
    100%{
      width: 80%;
    }
  }
  @keyframes load-1 {
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  @keyframes load-2 {
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }
  @keyframes load-3 {
    0%{
      width: 0%;
    }
    100%{
      width: 70%;
    }
  }
  .skilled li{
    text-decoration: none;
  }
  h3{
    text-decoration: none;
    animation:loade 1s ease-in;
    
  }
  @keyframes loaed {
    0%{
      margin: 0 0 0 0;
    }
    100%
    {
      margin-left:10px ;
    }
  }
  @keyframes loade{
    0%{
      margin-bottom: 10px ;
      margin-left: 0px;
  
    }
    100%
    {
      margin-left:10px ;
      margin-bottom: 0px;
    }
  }
  