*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: sans-serif;
    color: #fff;
}

a{
    text-decoration: none;
    display: inline-block;
}


.blurred-wrapper{
    height: 100vh;
    background: url("money1.jpg") center/cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    animation: hue 10s infinite alternate;
}

.blurred-wrapper::after{
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    
    z-index: -1;
    transform: scale(1.15);
}


@keyframes hue {
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}
.main-header{
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container1{
    max-width: 120rem;
    margin: 0 auto;
    
    padding: 0 1.5rem;
    backdrop-filter: blur(10px);
max-height: none;
    max-width:100%;
    margin-left: 100px;
}

.container2{
    max-width: 60%;
    max-height:70%;
    margin-right: 100px ;
    margin-bottom:100px ;
    margin-left:100px ;
    margin-top:50px ;
    padding: 0 1.5rem;
    backdrop-filter:blur(10px);
}

.logo{
    font-size: 2.9rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    
}
.title{
color: #833ab4;
}

.btn{
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  border-radius: 10px;
}

.sign-up{
    color: #fff;
    margin-right: 50px;
}

.hero{
    display: flex;
    align-items: center;
    height: calc(100% - 12rem);
}

.content-wrapper{
    max-width: 40rem;
    transform: translateY(-4rem);
}

.tagline{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 1rem;
}

.title{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.message{
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.cta{
    background-color: #000;
    color: #fff;
}

@media screen and (min-width: 768px) {

    .btn{
        padding: 1.5rem 3rem;
    }

    .content-wrapper{
        max-width: 60rem;
    }

    .tagline{
        font-size: 1.6rem;
    }

    .title{
        font-size: 6rem;
    }

    .message{
        font-size: 2rem;
    }
}